%p
  %b Number of Call:
  = @activation_call_request.duplicate_requests_count
%p
  %b Date Time:
  = formatted_datetime(@activation_call_request.created_at)
%p
  %b Imi number:
  = @activation_call_request.imi_number
%p
  %b Device Phone Number:
  = @activation_call_request.device_phone_number
%p
  %b Project Name:
  = @activation_call_request.project_name
%p
  %b Team Number:
  = @activation_call_request.team_number
%p
  %b Team Area:
  = @activation_call_request.team_area
%p
  %b Longitude:
  = @activation_call_request.longitude
%p
  %b Latitude:
  = @activation_call_request.latitude
%p
  %b Location:
  = @activation_call_request.address
%p
  %b Consumer number:
  = @activation_call_request.cell_number


= link_to 'Edit', edit_activation_call_request_path(@activation_call_request)
\|
= link_to 'Back', activation_call_requests_path
